@charset "utf-8";

/*

version:   		1.0
author:    		Roger Chapman
email:    		rogchap@gmail.com
website:   		
last updated:           Mar 2011

Basic Color Palette

primary-color:
secondary-color:
titles-color:
font-color:
link:
link-hover:
link-visited:

*/


/* BASIC POSITIONAL HOLDERS */
html {
    height:100%;
    }

body {
    font-family: Helvetica,Arial,Clean,Sans-serif;
    margin:0;
    padding:0;
    color:#444;
    height:100%;
}

body.login {
    background-color: #666;
    background-image: url(../images/backgrounds/bg-login.png); 
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom:-50px;
    }

/* BASIC LINKS */
a {
    color:#21759B;
    text-decoration: none;
    }

a:visited {
	color:#21759B;
    }

a:hover, a:focus {
	color:#003366;
	text-decoration: underline;
    }


/* BASIC CONTENT ELEMENTS */
h1, h2, h3, h4 {
	margin:1em 0;
	text-rendering: optimizeLegibility;
    }

h1, h2, h3 {
	font-weight:bold;
    }

h1 {
	font-size:2.7em;
    margin:0.5em 0;
    font-weight:normal;
    color:#464646;
    }

h2 {
	font-size: 1.9em;
    }

h3 {
	font-size:1.6em;
    }

h4 {
	font-size: 1.4em;
    padding:10px 0;
    margin:10px 0;
    color:#666;
    border-top:1px dotted #ddd;
    border-bottom:1px dotted #ddd
    }

p, ul li, ol li, dl dt, dl dd {
    line-height: 1.5em;
    margin-bottom: 1em;
    color:#333;
    }

p {
    font-size:1.3em
    }

abbr, acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
    }

ul, ol {
	margin:0;
    }

ol li {
	list-style: none;
    }

ul li {
	list-style: none;
    }

ul li ul li {
	list-style: none;
    }

dl dt {
    font-weight: bold;
    margin-bottom: 0;
    }

/* LOGIN HEADER */
#login-header {
    padding: 100px 0 0 0;
}

.container {
    margin: 0 auto;
}

#login-header .container {
    background-image: url(../images/branding/logo-login.png);
    width:300px;
    text-align: center; 
}

#login-container .container {
    padding: 30px 0;
}

#login-container .container {
    width:430px;
}

#login-container .container .section {
    background-color: #fff;
    border-color: #666; 
}

#login-container .container .section h3 {
    background-image: url(../images/backgrounds/bg-tabs.png);
    -moz-border-radius: 6px 6px 0 0 ;
    -webkit-border-radius: 6px 6px 0 0 ;
    border-radius: 5px 5px 0 0 ;
    text-shadow: 0px -1px 0px #000;
    color:#fff;
    font-size: 2.1em;
    font-weight: normal;
    line-height: 20px;
    background-color: #666;  
}

#login-header h1 {
    line-height:68px;
    font-size:3.5em;  
    margin:0;
    color:#383838;
    text-shadow: 0px 1px 0px #fff;
    visibility: hidden; 
}

#login-container .form-style label {
    width: 85px;
}

#login-container .form-style input {
    width: 240px;
}

#login-container .form-style .remember {
    width: 135px;
    display:inline-block;
    float:left;
    padding: 15px 0 0 15px;
}

#login-container .form-style .remember input {
    width: 13px;
    display:inline;  
}

#login-container .form-style .remember label {
    float: none; 
}

#login-container .form-style span.buttons {
    padding-left: 126px;
    line-height: 50px; 
}

#login-container .footer {
    float:right;
    font-size: 1.6em;
}

#login-container .footer ul li {
    padding: 0 5px;
    margin-left: 5px;
    float: left;
}

/* HEADER */
#masthead  {
    height:60px;
    background-color: #666;
    background-image: url(../images/backgrounds/bg-header.png); 
    border:1px solid #666;
    padding:0 40px 0 20px;
    }

#masthead #logo  {
   float:left;
   width:200px;
   background-image: url(../images/branding/logo-header.png);
   background-repeat: no-repeat;
   background-position: left; 
   } 

#masthead #logo p {
    line-height:60px;
    font-size:3.5em;
    margin:0;
    color:#383838;
    text-shadow: 0px 1px 0px #ccc;
    visibility: hidden;  
    }

#masthead .nav-main {
    float:left;
    height:60px; 
}

#masthead .nav-main ul {
    margin-top: 21px;
}

#masthead .nav-main ul li {
    float:left;
    margin-right: 5px;
}

#masthead .nav-main ul li a {
    display:block;
    text-decoration: none;
    background-color: #1d354f;
    height:40px; 
    padding: 0 15px;
    line-height: 40px;
    font-size: 1.5em; 
    text-shadow: 0px -1px 0px #000;
    color:#fff; 
    background-image: url(../images/backgrounds/bg-tabs-off.png);
    -moz-border-radius: 6px 6px 0 0 ;
    -webkit-border-radius: 6px 6px 0 0 ;
    border-radius: 6px 6px 0 0 ; 
}

#masthead .nav-main ul li a:hover {
    color:#ccc; 
}

#masthead .nav-main ul li.current a:hover {
    color:#fff;
}

#masthead .nav-main ul li.current a {
    background-image: url(../images/backgrounds/bg-tabs.png);
}

#masthead .login-control {
    float:right;
    padding:10px 20px;
    height:20px;
    background-color:#fff;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    }

#masthead .login-control .icon {
    display:block;
    float:left;
    height:16px;
    width:16px;
    background-image: url("../images/icons/sprite-icons-16.png");
    background-position: -32px 0;
    }

#masthead .login-control p {
    display:block; 
    margin:0 0 0 20px;
    color:#666;
    text-shadow: 0px 1px 0px #ccc;
    }

#masthead .login-control p span {
    color:#222;
    font-weight:bold;
    }

#mastheads-seperator {
    height:15px;
    background-image: url(../images/backgrounds/bg-separator.png);
}

/* MAIN CONTENT AREA */
#main {
    margin:20px 0;
    padding:0 40px 0 0;
    height:100%;
    background-color:#fff;
    }

#main .nav-primary {
    width:200px;
    margin:0 0 0 20px;
    padding:0;
    float:left;
    border:1px solid #e3e3e3;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: url(../images/backgrounds/bg-nav.png); 
    }

#main .nav-primary p {
    margin:0;
    padding:5px 10px;
    display:block;
    color:#444;
    border-bottom:1px solid #e3e3e3;
    background-color: #eeeeee;
    text-shadow: 0px 1px 0px #eee;
    background-image: -moz-linear-gradient(top, #eeeeee, #e5e5e5);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #e5e5e5));
    background-image: -webkit-linear-gradient(#eeeeee, #e5e5e5);
    background-image: linear-gradient(top, #eeeeee, #e5e5e5);
    }

#main .nav-primary ul {
    padding:15px 0px;
    }

#main .nav-primary ul li  {
    list-style-type:none;
    border-bottom:1px solid #ddd; 
    margin:0;
    padding:10px 0;
    }

#main .nav-primary ul li:last-child  {
    border-bottom:none;
    }

#main .nav-primary ul li.current  {
    background-image: url(../images/backgrounds/bg-nav-on.png);
    border-bottom:none;
}

#main .nav-primary ul li a {
    font-size:1.3em;
    display:block;
    text-decoration:none;
    margin:0 0 0 25px;
    color:#444;
    word-wrap:break-word;
    text-shadow: 0px 1px 0px #eee;
    }

    #main .nav-primary ul li a:hover {
    color:#1d354f;
}

#main .nav-primary ul li.current a, #main .nav-primary ul li.current a:hover {
    color:#fff;
    text-shadow: 0px 1px 0px #000;
}

#main .nav-primary ul li .icon {
    display:block;
    float:left;
    height:16px;
    width:16px;
    background-image: url("../images/icons/sprite-icons-16.png");
    background-position: 0 0;
    }

#main .nav-primary ul li:hover .icon {
    background-position: 0 -16px;
    }

#main .nav-primary ul li.dashboard .icon {
    background-image: url("../images/icons/sprite-icons-16.png");
    background-position: -16px 0;
    }

#main .nav-primary ul li.dashboard:hover .icon {
    background-position: -16px -16px;
    }

#main .content {
    padding:0 0 50px 0;
    margin:0 0 0 240px;
    }

/* FOOTER NAVIGATION */
#site-footer {
    height:50px;
    background-color: #000000;
    background-image: -moz-linear-gradient(top, #666666, #000000);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #333333),color-stop(1, #000000));
    background-image: -webkit-linear-gradient(#333333, #000000);
    background-image: linear-gradient(top, #333333, #000000);
    border-top:1px solid #000000;
    line-height:50px;
    padding:0 15px;
    }

#site-footer p {
    line-height:50px;
    color:#fff;
    }

.wrapper-title {
    margin:0 0 10px 0;
    }

.wrapper-title .icon {
    background-image: url("../../images/admin/icons/sprite-icons-32.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 32px;
    margin: 0 10px 0 0;
    width: 25px;
    }

.wrapper-title h1 {
    line-height:32px;
    padding:0 0 15px 0;
    margin:0 0 15px 0;
    display:block;
    width:auto;
    border-bottom: 1px dotted #DDDDDD;
    color:#888;
    }

.wrapper-title h1 span {
    color:#000;
    }

.wrapper-title h1 span:before,
.wrapper-title h1 span:after  {
    content:" '' ";
    }

.wrapper-title h1 span.icon:before,
.wrapper-title h1 span.icon:after  {
    content:none;
    }

.wrapper-title .button {
    color:#333;
    }

.form-style ul li.name label {
    padding:10px 0 0 0;
    }

.form-style ul li.name input {
    font-size:2.4em;
    color:#444;
    }

.section {
    margin:10px 0;
    padding:0 20px;
    border:1px solid #e3e3e3;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    }

.section h3 {
    margin:0 -20px;
    padding:10px 20px;
    display:block;
    color:#666;
    font-size:1.5em;
    text-shadow: 0px 1px 0px #fff; 
    border-bottom:1px solid #e3e3e3;
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(top, #eeeeee, #e5e5e5);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #e5e5e5));
    background-image: -webkit-linear-gradient(#eeeeee, #e5e5e5);
    background-image: linear-gradient(top, #eeeeee, #e5e5e5);
    }

.context {
    border:1px solid #ddd;
    padding:5px 10px;
    margin:15px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }

.context ul li {
    display:inline;
    font-size:1.2em;
    }

.context ul li a {
    padding:0 15px 0 5px;
    background-image: url("../../images/admin/icons/arrow-breadcrumb.png");
    background-position: right 4px;
    background-repeat:no-repeat;
    }

.context ul li:last-child a {
    background-image: none;
    }

.lister-results  {
    padding:10px 0;
    }

.lister-results h4 {
    margin:0;
    padding:10px 0;
    background-color:transparent;
    border-bottom:1px dotted #ddd;
    font-size:1.8em;
    color:#444;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }

.lister-results ul li ul li {
    font-size:1.4em;
    padding:10px 0;
    margin:10px 0;
    border-bottom:1px dotted #ddd;
    }

.lister-results ul li ul li:last-child {
    border-bottom:none;
    }

table {
    width:100%;
    }

table tr th {
    border-bottom: 1px dotted #ddd;
    padding: 8px 10px;
    font-size:1.3em;
    text-align:left;
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(top, #eeeeee, #e5e5e5);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #e5e5e5));
    background-image: -webkit-linear-gradient(#eeeeee, #e5e5e5);
    background-image: linear-gradient(top, #eeeeee, #e5e5e5);
    }

table tr td {
    padding:8px 10px;
    border-bottom: 1px dotted #ddd;
    text-align:left;
    color:#666;
    font-size:1.3em;
    }

table tr:nth-child(2n+1) {
     background: #fefefe;
    }

.list-table  {
    padding:0 20px;
    margin:10px 0;
    border:none;
    width:100%;
    }

.list-table tr th {
    padding: 10px;
    background-image:none;
    background-color:#fff;
    color:#888;
    }

.list-table tr:last-child td {
    border-bottom:none;
    }

.list-table tr td {
    border-bottom:1px dotted #ddd;
    height:50px;
    }

.ie6 .list-table tr td,
.ie7 .list-table tr td,
.ie8 .list-table tr td,
.ie8 .list-table tr td {
    height:30px;
    }

.list-table tr td a.name {
    margin:0 0 5px 0;
    display:block;
    font-weight:bold;
    font-size:1.1em;
    }

.list-table tr td div.actions {
	display: none;
    }

.list-table tr td:hover .actions {
	display: inline;
	}

.list-table tr td:hover .actions a {
	font-size:1em;
    border-right:1px dotted #999;
    padding: 0 10px;
	}

.ie6 .list-table tr td:hover .actions a {
    border-right:1px solid #ccc;
	}

.list-table tr td:hover .actions a:first-child  {
    padding:0 10px 0 0
	}

.list-table tr td:hover .actions a:last-child  {
    border-right:none;
	}

.candidate-image img {
    margin:0 0 10px 0;
    }

.candidate-image span {
    display:block;
    margin:0 0 0 240px;
    font-size:1.1em;
    color:#666;
    }

.list-table tr td .active {
    color:#57A000;
    font-weight:bold;
    }

.list-table tr td .in-active {
    color:#666;
    }