[submodule "vendor/knplabs/src/Knplabs/PaginatorBundle"]
	path = vendor/knplabs/src/Knplabs/PaginatorBundle
	url = https://github.com/knplabs/PaginatorBundle.git
[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = https://github.com/doctrine/mongodb.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = https://github.com/doctrine/mongodb-odm.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = https://github.com/doctrine/common.git
[submodule "vendor/fos/src/FOS/UserBundle"]
	path = vendor/fos/src/FOS/UserBundle
	url = https://github.com/FriendsOfSymfony/UserBundle.git
[submodule "vendor/redpanda/src/RedPanda"]
	path = vendor/redpanda/src/RedPanda
	url = https://github.com/redpanda/BreadcrumbBundle.git
[submodule "vendor/redpanda/src/RedPanda/BreadcrumbBundle"]
	path = vendor/redpanda/src/RedPanda/BreadcrumbBundle
	url = https://github.com/redpanda/BreadcrumbBundle.git
[submodule "vendor/knplabs/src/Knplabs/snappy"]
	path = vendor/knplabs/src/Knplabs/snappy
	url = git@github.com:knplabs/snappy.git
[submodule "vendor/knplabs/snappy"]
	path = vendor/knplabs/snappy
	url = git@github.com:knplabs/snappy.git
[submodule "vendor/knplabs/src/Knplabs/SnappyBundle"]
	path = vendor/knplabs/src/Knplabs/SnappyBundle
	url = https://github.com/knplabs/SnappyBundle.git
[submodule "vendor/bundles/Knplabs/Bundle/SnappyBundle"]
	path = vendor/bundles/Knplabs/Bundle/SnappyBundle
	url = https://github.com/knplabs/SnappyBundle.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = git://github.com/kriswallsmith/assetic.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = git://github.com/fabpot/Twig-extensions.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = git://github.com/Seldaek/monolog.git
[submodule "vendor/bundles/Sensio/Bundle/FrameworkExtraBundle"]
	path = vendor/bundles/Sensio/Bundle/FrameworkExtraBundle
	url = git://github.com/sensio/SensioFrameworkExtraBundle.git
[submodule "vendor/bundles/JMS/SecurityExtraBundle"]
	path = vendor/bundles/JMS/SecurityExtraBundle
	url = git://github.com/schmittjoh/SecurityExtraBundle.git
[submodule "vendor/bundles/Symfony/Bundle/WebConfiguratorBundle"]
	path = vendor/bundles/Symfony/Bundle/WebConfiguratorBundle
	url = git://github.com/symfony/WebConfiguratorBundle.git
