[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = https://github.com/doctrine/mongodb.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = https://github.com/doctrine/mongodb-odm.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = https://github.com/doctrine/common.git
[submodule "vendor/fos/src/FOS/UserBundle"]
	path = vendor/fos/src/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle.git
[submodule "vendor/knplabs/src/Knplabs/PaginatorBundle"]
	path = vendor/knplabs/src/Knplabs/PaginatorBundle
	url = git://github.com/knplabs/PaginatorBundle.git
